node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

#snarkjs files
powersOfTau28*
circuits/**/*Test*/*
circuits/Sudoku/*
circuits/SystemOfEquations/*
contracts/*.sol